* {
  box-sizing: border-box;
  border: 2px solid gold;
}

body {
  font-size: 1rem;
  background-color: #ffd139;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
}

.calc-container {
  display: grid;
  grid-template-columns: 5rem 5rem 5rem 5rem;
  background-color: #000000;
}

.btn {
  height: 3rem;
  width: 3rem;
  text-align: center;
  line-height: 3rem;
  background-color: #191919;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
  border-radius: 5px;
}

.btn:hover {
  background-color: #323232;
}