* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  background-color: #ffd139;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
}

.calc-container {
  display: grid;
  width: 20rem;
  height: 33rem;
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: #000000;
  border-radius: 5px;
  margin: 5rem auto;
}

.calc-display {
  grid-column: 1 / span 4;
  grid-row: 1  / span 2;
  border: 2px solid #191919;
}

.btn {
  text-align: center;
  line-height: 3rem;
  background-color: #191919;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

btn:hover {
  background-color: #323232;
}

.orange-text {
  color: orangered;
  font-weight: 700;
  font-size: 1.4rem;
}

#equal-btn {
  grid-column: 3 / span 2;
  font-size: 2rem;
  background-color: orangered;
}

#equal-btn:hover {
  background-color: rgb(147, 39, 0);
}